[submodule "deps/BMFontToSpriteFont"]
	path = deps/BMFontToSpriteFont
	url = https://github.com/rds1983/BMFontToSpriteFont.git
[submodule "deps/FontStashSharp"]
	path = deps/FontStashSharp
	url = https://github.com/rds1983/FontStashSharp.git
