[submodule "deps/BMFontToSpriteFont"]
	path = deps/BMFontToSpriteFont
	url = https://github.com/rds1983/BMFontToSpriteFont.git
[submodule "deps/StbTrueTypeSharp"]
	path = deps/StbTrueTypeSharp
	url = https://github.com/StbSharp/StbTrueTypeSharp.git
